<div class="container-fluid mt-3">
    <div class="row row-cols-3">
        <div class="address-container col-3 mt-2">
            <h4>ENDEREÇO</h4>
            <p>Rua dos Vianas, 576 - Sala 03</p>
            <p>Centro</p>
            <p>São Bernardo do Campo</p>
        </div>
        
        <div class="contact-container col-3 mt-2">
            <h4>CONTATO</h4>
            <p>@instagram</p>
            <p>@instagram</p>
            <p>@instagram</p>
            <p>@instagram</p>
        </div>
        
        <div class="budget-container col-6 mt-2">
            <h4>ORÇAMENTO</h4>
            <label for="">Nome:</label>
            <input type="text" name="name" id="client-name" placeholder="Digite seu nome">
            <br>
            <label for="">E-mail:</label>
            <input type="text" name="email" id="client-email" placeholder="Digite seu email">
            <br>
            <label>Orçamento:</label>
            <br>
            <textarea name="" id="" cols="30" rows="4" placeholder="Escreva em detalhes o que deseja tatuar"></textarea>
            <button class="btn btn-primary">Enviar</button>
        </div>
    </div>
    
</div>