* {
    margin: 0 auto;
    padding: 0;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: first baseline;
    text-align: center;
    background-color: rgb(70, 70, 70);
    max-width: 90%;
    border-radius: .5rem;
    height: auto;
    color: white;
}

.row {
    display: flex;
    margin: 1rem;
    align-items: center;
    width: 100%;
}

.col-3 {

    height: 100%;
}

h4 {
    margin-bottom: .5rem;
}

textarea {
    text-align: left;
}

input {
    text-align: center;
    margin-left: 1rem;
    width: 80%;
}

textarea {
    width: 90%;
}

.btn {
    background-color: black;
    margin: .25rem;
    padding: .25rem;
    scale: 1.3;
}

.btn:hover {
    background-color: rgb(74, 74, 74);
}