<div class="container-fluid mt-3">
    <div class="row row-cols-3">
        <div class="address-container col-3 mt-2">
            <h4>ENDEREÇO</h4>
            <a href="https://www.google.com.br/maps/place/Rua+dos+Vianas+576/@-23.6994751,-46.5494249,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce422fc51804ed:0xb4309f09c3f2fea1!8m2!3d-23.69948!4d-46.54685!16s%2Fg%2F1tkb66qh?entry=ttu">Rua dos Vianas, 576 - Sala 03</a>
            <p>Centro</p>
            <p>São Bernardo do Campo</p>
        </div>
        
        <div class="contact-container col-3 mt-2">
            <h4>CONTATO</h4>
            <a href="https://www.instagram.com/michaelcaxa">MichaelCaxa</a>
            <p>@instagram</p>
            <p>@instagram</p>
            <p>@instagram</p>
        </div>
        
        <div class="budget-container col-6 mt-2">
            <h4>ORÇAMENTO</h4>
                <label for="">Nome:</label>
                <input type="text" name="name" id="client-name" placeholder="Digite seu nome">
                <br>
                <label for="">E-mail:</label>
                <input type="email" name="email" id="client-email" placeholder="Digite seu email">
                <br>
                <label>Orçamento:</label>
                <br>
                <textarea name="" id="" cols="30" rows="4" placeholder="Escreva em detalhes o que deseja tatuar"></textarea>
                <button type="submit" value="click" class="btn btn-primary">Enviar</button>
        </div>
    </div>
    
</div>