<div class="container-fluid mt-3">

    <div class="container">

        <div class="row row-cols-3">
            
            <div class="col-2">
                <img class="logo-image" src="\assets\images\nest_logo.png" alt="">
            </div>
    
            <div class="col-8">
                <h1 class="logo-name">Black Hannya Tattoo</h1>
            </div>
    
            <div class="col-2">
                <img class="logo-image" src="\assets\images\nest_logo.png" alt="">
            </div>

        </div>
    
    </div>

</div>
