* {
    margin: 0 auto;
    padding: 10;
}

.container-fluid {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: orange;
    max-width: 90%;
    height: auto;
    border-radius: .5rem;

    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container {
    height: auto;
    width: 100%;
}

.row-cols-3 {
    align-items: center;
    width: 100%;
}

.logo-name {
    padding-left: 50px;
    padding-right: 50px;
}

.logo-image-left, .logo-image-right {
    margin: 10px 0 10px 0;
    max-height: 19vh;
}

.logo-image-left {
    justify-self: left;
}