* {
    margin: 0 auto;
    padding: 0;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    max-width: 70%;
    height: 7vh;
    border-radius: .5rem;
}
