* {
    margin: 0 auto;
    padding: 0;
}


.container-fluid {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 30, 0);
    max-width: 90%;
    height: auto;
    border-radius: .5rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.row {
    width: 100%;
    height: auto;
}

.card-image {
    max-width: 90%;
    margin: .5rem;
    border-radius: 1rem;
}

.card-image:hover {
    scale: 2;
}