<div class="container-fluid mt-3">

    <div class="container">

        <h2 class="mt-2">EDU CARVALHO</h2>

        <div class="row row-cols-5">
            <div class="col">
                <img class="card-image" src="\assets\images\nest_logo.png" alt="">
            </div>

            <div class="col">
                <img class="card-image" src="\assets\images\nest_logo.png" alt="">
            </div>

            <div class="col">
                <img class="card-image" src="\assets\images\nest_logo.png" alt="">
            </div>

            <div class="col">
                <img class="card-image" src="\assets\images\nest_logo.png" alt="">
            </div>

            <div class="col">
                <img class="card-image" src="\assets\images\nest_logo.png" alt="">
            </div>

        </div>
    </div>

</div>